:root {
    --transition-effect: 0.25s cubic-bezier(.22, -0.78, .83, 1.5) .3s;
}

.ct {
    margin: 50px auto;
    width: 90%;
}

#checkAnonymous {
    width: 77px;
    height: 35px;
    appearance: none;
    background: black;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgb(0, 0, 0, .3);
    transition: var(--transition-effect);
}

#checkAnonymous::before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    top: 1px;
    left: 3px;
    background: chocolate;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, .3);
    transition: var(--transition-effect);
}

#checkAnonymous:checked {
    background: rgb(67, 129, 243);
}

#checkAnonymous:checked::before {
    left: 40px;
}

.tbl {
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgb(83 90 90 / 26%);
    border-radius: 2px;
    padding: 42px 42px;
}

th,
td {
    color: #17a2b8;
}

.tbl button i {
    margin-right: 5px;
}

.ct .ct__goProfile {
    background-color: rgb(2, 81, 105);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}

.ct .ct__goProfile:hover {
    background-color: rgb(4, 134, 174);
    color: rgb(13, 17, 14);
}